.loginPage {
  
  color: var(--typo-primary);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &.dark-theme{
    background-color: var(--bg-default);
    .loginPage__form {
      background: var(--color-primary);
    }
  }
  &.light-theme{
    background-color: white;
    .loginPage__form {
      background: var(--bg-table-header);
    }
  }

  .MuiBox-root {
    width: fit-content;
  }

  .err {
    color: red;
    max-width: 15rem;
    text-align: center;
  }

  
}
