.Profile{
    width: 100vw;
    min-height: 100vh;
    position: relative;

    &.light-theme{
        background-color: #F5F5F5;
    }
    &.dark-theme{
        background-color: #1F2128;
    }
    
    
    .content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}