@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

#root {
  text-align: center;
  font-family: 'Montserrat', sans-serif; /* Добавлено использование шрифта */
}

body {
  margin: 0; /* Убедитесь, что нет отступов по умолчанию */
}
